.input__container {
  display: flex;
  flex-direction: column;
  position: relative;
}
.input__label {
  font-style: normal;
  line-height: normal;
}

.input__label_pos_top {
  color: var(--gray);
  font-size: 10px;
  font-weight: 400;
}

.input__label_pos_center {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: var(--white);
  font-size: 11px;
  font-weight: 500;
}

.input__error {
  --error-font: 10px;

  margin-top: 4px;
  display: inline-block;
  color: var(--warning);
  font-size: var(--error-font);
  font-style: normal;
  font-weight: 400;
  line-height: 1;
  min-height: calc(var(--error-font) * 2);
}
